/*
    • Section tag must have class="card"
    • Create section with two divs
        ◦ First div contains image
        ◦ Second div contains: <h3>, <p> and a tags

    • Use rgb(238, 238, 238) for body background
    • Use rgb(255, 255, 255) for card background
    • Use rgb(0, 153, 0) for card button background
    • Use font Georgia, serif with size 1em/1.2 for the headings
    • Set the image position property to absolute
*/
/* @import url('reset.css'); */

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
}

.card {
    background-color: rgb(255, 255, 255);
}

button {
    background-color: rgb(0, 153, 0);
}

h3 {
    font: 1em/1.2  Georgia, serif;
    margin: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
}

.card_thumb {
}

.image img {
    width: 100%;
}

.card__content {
    padding: 20px 30px;
    position: relative;
}

.card__content h3 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
}

.card__content p {
    margin-bottom: 60px;
}

.card__content button {
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    position: absolute;
    right: 16px;
    bottom: 30px;
}