@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

h4 {
  margin: 0;
  padding: 0;
}

li p {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

  padding: 40px;
}

section {
  width: 640px;
  margin-left: 60px;
  margin-right: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

li img {
  width: 60px;
  vertical-align: middle;
  margin-right: 15px;
}
