@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/*
  COLORS
  ------------
*/
:root {
    --color-black: #000;
    --color-white: #fff;
    
    --color-bg-primary: #f5f5f5;
    --color-light-grey: #ddd;
    --color-red: #d7001d;
}

html {
    box-sizing: border-box;
}
    
html *::after,
html *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;

    background-color: var(--color-bg-primary);
}

/*
  TYPOGRAPHY
  ----------------
*/
a {
    text-decoration: none;
    color: var(--color-black);
}

.fa-solid {
    color: var(--color-red);
    margin-left: 5px;
    vertical-align: baseline;
}

button {
    cursor: pointer;
}

/*
  ARTICLE
  ----------------
*/
#maine_home {
    max-width: 1280px;
    margin: auto;
}

#maine_home header {
    width: 30%;
    margin: 0 auto;
}

.main__title,
.main__subtitle {
    letter-spacing: 2px;
    font-weight: normal;
}

.main__title {
    margin-bottom: 5px;
    font-size: 3rem;
    text-align: center;
}

.main__subtitle {
    color: var(--color-red);
    margin-top: 0;
    text-align: right;
}

.flex {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    text-align: center;
}

/* Home section */
.home__section {
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    overflow: hidden;
    background-color: var(--color-white);
    
    text-align: center;
    font-style: italic;
    width: 35%;

    box-shadow: 4px 3px 3px 4px var(--color-light-grey);
}

.home__section .image {
    width: 100%;
    height: auto;
}

.home__section .home__section__text {
    padding: 0px 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex: 1 1 220px;
}

.home__section .section__title {
    border-bottom: 1px solid var(--color-red);
    margin: 0;
    padding: 10px;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.5;
}

.home__section .section__readmore {
    margin-top: auto;
}

.home__section .section__readmore * {
    transition: all .275s;
}

.home__section .section__readmore:hover a {
    color: var(--color-red);
}

/**
 * Under 600px
 **/
 @media screen and (max-width: 600px) {
	#maine_home header {
        width: 80%;
    }
    
    .flex {
		flex-wrap: wrap;
        justify-content: unset;
        margin-bottom: 32px;
	}

    .flex .home__section {
        width: 90%;
        margin: auto;
    }
}