
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #ddd;
    padding: 1.25rem;
    font-size: 1.5rem;
}

.footer__heading {
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 1rem;
}

.footer__sub__heading {
    font-size: 1.65rem;
    margin: 0;
    margin-bottom: 1rem;
}

.footer__container {
    background-color: #ccc;
    max-width: 1080px;
    margin: auto;

    padding: 1.5rem;
}

.footer__links {
    display: grid;

    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.footer__links a {
    line-height: 1.5;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.footer__links a:hover {
    color: darkkhaki;
    transition: ease-in-out;
}